# ignore all logs
*.log

# Ignore Vagrant folder
.vagrant

# Ignore K8s Admin config file
admin.conf

# Ignore kubeadm files
ansible-playbooks/join-command
ansible-playbooks/join-command-master

# Ignore DS_store
.DS_Store
